<div class="jumbotron">
  <h1>Poke Usuarios!</h1>
    <image src="images/Logo/logoPrincipal.jpg"></image>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="login" role="button">Inicie Sesion</a></p>
</div>