<html>

<head>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="label label-default">Nombre:</span> <span class="label label-default">Tipo:</span> <span class="label label-default">Habilidad Especial:</span> <span class="label label-default">Numero pokemon:<br /><br /></span>
            </div>
        </div>
    </div>
</body>

</html>
