<div class="container">
    <form action="/crearUsuario" method="post" accept-charset="utf-8" class="form-user">
        <div>
            <label> Nombre *: </label>
            <input type="text" name="nombre" class="form-control" required/>
            <!--el mismo nombre de los atributos del modelo-->
        </div>
        <div>
            <label> Usuario*: </label>
            <input type="text" name="usuario" class="form-control" required/>
            <!--el mismo nombre de los atributos del modelo-->
        </div>
        <div>
            <label> Password *: </label>
            <input type="password" name="password" class="form-control" required/>
        </div>
        <input type="submit" value="Submit">
    </form>


</div>